.App {
  text-align: center;
}

.topBar {
  width: auto;
  height: 4rem;
  background-color: rgb(79, 79, 79);
  color: azure;
  align-items: center;
  line-height: 1.2;
  font-family: Stencil Std, fantasy;
  font-size: 50px;
}
